footer.footer
	<!--блок итоговой цены-->
	div.total
		p.total__text Сумма вашего заказа составляет:
			span.total__value 0 
			span Рублей
	<!--Кнопка переключения к следующией стадии заказа-->
		button.button-next Да, всё верно!