.total {
	font-family: Lobster, sans-serif;
    font-size: 21px;
    text-align: center;
}

.total__value {
	margin-left: 10px;
    margin-right: 5px;
    color: #c00;
}

.total.hidden {
	display: none;
}

@media (min-width: 1000px) {
	.total {
		display: flex;
		align-items: center;
		text-align: left;
	}
}