section.stages
  div.stages__wrapper
    div.stage
      div.stage__number.active 1
      p.subtitle.active Подтверждение заказа
      div.stage__line
        div.stage__fill(style="right: 370px;")
    div.stage
      div.stage__number 2
      p.subtitle.subtitle--number-two Выбор способа получения заказа
      div.stage__line
        div.stage__fill(style="right: 370px;")
    div.stage
      div.stage__number 3
      p.subtitle Оплата заказа