doctype html
html(lang="ru-RU")
	head
		link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet")
	body
		include components/header/header
		include components/stages/stages
		button.button-next Next
		
