doctype html
html(lang="ru-RU")
	head
		link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet")
	body
		include components/header/header
		include components/body/stages/stages
		include components/body/cart/cart
		include components/footer/footer
		
