doctype html
html(lang="ru-RU")
	head
		link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet")
		script(src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/dependencyLibs/inputmask.dependencyLib.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.min.js")
	body
		include components/header/header
		include components/body/stages/stages
		include components/body/cart/cart
		include components/body/delivery/delivery
		include components/footer/footer
