section.cart.hidden
	h2.cart__title Корзина:
	div.cart__wrapper 
		div.cart__inner
			div.order
				img.order__img(src="../images/cake-1.jpg" width="250px" heigth="250px")
				p.order__count Количество:
					span.order__count-value 1
					span шт
				p.order__price Стоймость:
					span.order__price-value 1200
					span Руб.
				div.slider
					div.thumb(style="left: 10px;")
					div.range-line
					div.slider-values
			div.order
				img.order__img(src="../images/cake-2.jpg" width="250px" heigth="250px")
				p.order__count Количество:
					span.order__count-value 1
					span шт
				p.order__price Стоймость:
					span.order__price-value 1000
					span Руб.
				div.slider
					div.thumb(style="left: 10px;")
					div.range-line
					div.slider-values
			div.order
				img.order__img(src="../images/cake-3.jpg" width="250px" heigth="250px")
				p.order__count Количество:
					span.order__count-value 1
					span шт
				p.order__price Стоймость:
					span.order__price-value 1150
					span Руб.
				div.slider
					div.thumb(style="left: 10px;")
					div.range-line
					div.slider-values